body{
    background-color: rgb(6, 12, 20);
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: rgb(152, 157, 192);
    border-radius: 10px;
    align-content: center;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.450);
    max-width: fit-content;
    min-width: 80%;
    margin-top: 15px;
    font: normal 15pt arial;
}

img{
    display: block;
    margin: 0px 0px 0px 0px ;
    width: auto;
}

iframe{
    width: 100%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font: bold 32pt arial;
    margin-top: 10px;
    margin-bottom: 20px;
}

h2{
    font: bold 26pt arial;
    margin-top: 5px;
    margin-bottom: 5px;
}

.center{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    max-width: 900px;
    min-width: none;
}

a{
    color:rgb(0, 58, 146);
    margin: 0px;
    width: 320px;
}

a:visited{
    color: rgb(59, 81, 90);
}

.width{
    width: 320px;
}