@charset "UTF-8";

@font-face {
    font-family: 'Alice' ;
    src: url(../../../../Fontes\ Baixadas/Alice_in_Wonderland_3.ttf) format('truetype');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../../../Módulo\ 2/Capítulo\ 17\ -\ Primeiro\ mini-projeto/fontes/BebasNeue-Regular.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --cor0: #191d32;
    --cor1: #282f44;
    --cor2: #453a49;
    --cor3: #6d3b47;
    --cor4: #f06543;
    --cor5: #fff;
    --cor6: #000;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', 'cursive';
    --fonte2: 'Alice', sans-serif;
    --fonte3: 'Passion One', cursive;
    --fonte4: 'Sriracha', cursive;
}

*{
    font: normal normal 16px var(--fonte0);
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor3);
}

header{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    color: var(--cor5);
    height: 300px;
    width: 100vw;
}

header > h1{
    font: normal bold 3em var(--fonte1);
    text-align: center;
    padding-top: 110px;
}

nav{
    background-color: var(--cor2);
    border: 0px;
    position: sticky;
    top: 0;
}

nav > div{
    display: block;
    text-align: center;
    margin: auto;
    padding: 8px;
}

nav > div > a{
    padding: 2px 5px;
    background-color: var(--cor2);
    font: normal normal 1.5em var(--fonte1);
    text-decoration: none;
    color: var(--cor5);
    transition-duration: 200ms;
}

nav > div > a:hover{
    background-color: var(--cor3);
    border-radius: 5px;
    transition-duration: 200ms;
}

main{
    background-color: var(--cor1);
    border-radius: 5px 20px;
    width: 80vw;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

main > h1{
    color: var(--cor5);
    font: normal bold 2em var(--fonte1);
    text-align: center;
    padding-top: 10px;
}