@charset "UTF-8";

.container{
    max-width: 350px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.item{
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-item-1{
    flex: 1;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

.column{
    flex-direction: column;
}

.code{
    background-color: #333;
    color: #9df;
    font-family: 'Courier New', Courier, monospace;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-direction-column-rev{
    flex-direction: column-reverse;
}

.flex-direction-row-rev{
    flex-direction: row-reverse;
}