@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #92afd7, #bcebcb);
    background-attachment: fixed;
}

main{
    background-color: white;
    width: 80%;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 16, 17,0.450);
}

h1{
    color: #5a7684;
    text-align: center;
}

h2{
    color: #001011;
}

p{
    text-align: justify;

}