@charset "UTF-8" ;

@media screen and (min-width:768px){
    nav > span#burger{
        display: none;
    }
    div#naveg{
        display: block;
    }
    nav > div > ul{
        columns: 1;
    }
    nav > div > ul > li{
        display: inline-block;
    }
}