@charset "UTF-8";

@font-face {
    font-family: 'Alice' ;
    src: url(../../../../Fontes\ Baixadas/Alice_in_Wonderland_3.ttf) format('truetype');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../../../Módulo\ 2/Capítulo\ 17\ -\ Primeiro\ mini-projeto/fontes/BebasNeue-Regular.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --cor0: #909CC2;
    --cor1: #084887;
    --cor2: #B49A67;
    --cor3: #F3BAB9;
    --cor4: #F7F5FB;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', 'cursive';
    --fonte2: 'Alice', sans-serif;
    --fonte3: 'Passion One', cursive;
    --fonte4: 'Sriracha', cursive;
}

*{
    font: normal normal 16px var(--fonte0);
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
}
header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
    background-attachment: local;
    padding-top: 40px;
    padding-bottom: 40px;
}

header h1{
    font: normal normal 3em var(--fonte2);
    text-align: center;
    color: #fff;
    text-shadow: 5px 5px 10px #000;
}

nav{
    background-color: var(--cor0);
    padding-top: 10px;
    padding-bottom: 10px;
}

nav div {
    display: block;
    margin: auto;
    width: fit-content;
}

nav div a{
    display: inline-block;
    color: #000;
    text-decoration: none;
    font: normal normal 1.5em var(--fonte1);
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--cor1);
    padding: 3px 5px; 
    border-radius: 5px;
    margin: 2px;
}

main{
    max-width: 900px;
    background-color: var(--cor4);
    margin: auto;
    border-radius: 5px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.300);
}

main section{
    margin: auto;
    max-width: 800px;
    outline: rgba(0, 0, 0, 0.274) solid 1px;
    border-radius: 5px 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
}

main section h1{
    font: normal normal 2em var(--fonte1)
}

ol{
    margin-left: 20px;
}

li{
    font: normal normal 1em var(--fonte3);
}

ol#lista-base{
    margin-left: 40px;
    margin-top: 20px;
}

footer{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
    max-width:900px;
    min-width:320px;
    border-radius:5px 20px;
    box-shadow: 5px 5px 10px #000;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:20px;
    margin-bottom:20px;
}

footer h1{
    font:normal normal 2em var(--fonte1);
    text-align: center;
}

footer p {
    text-align: center;
}

footer p a{
    text-decoration: none;
    font: normal normal 1.5em var(--fonte0);
    color: var(--cor4);
}