@charset "UTF-8";

.container{
    max-width: 350px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.item{
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-item-1{
    flex: 1;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-indent: 10px;
}

.column{
    min-height: 200px;
    flex-direction: column;
}

.code{
    background-color: #333;
    color: #9df;
    font-family: 'Courier New', Courier, monospace;
}

.flex-direction-column{
    flex-direction: column;
}

.flex-direction-column-rev{
    flex-direction: column-reverse;
}

.flex-direction-row-rev{
    flex-direction: row-reverse;
}

.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}

.flex-flow-row-nowrap{
    flex-flow: row nowrap;
}

.flex-flow-row-wrap{
    flex-flow: row wrap;
}

.flex-flow-column-nowrap{
    flex-flow: column nowrap;
}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.flex-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.flex-align-stretch{
    align-items: stretch;
}

.flex-align-start{
    align-items: flex-start;
}

.flex-align-end{
    align-items: flex-end;
}

.flex-align-center{
    align-items: center;
}

.flex-baseline{
    align-items: baseline;
}

.alinhamento-central{
    height: 400px;
    justify-content: center;
    align-items: center;
}

.alinhamento-central .item{
    flex: 0;
    padding: 10px;
}

.align-content-stretch{
    align-content: stretch;
}

.align-content-start{
    align-content: flex-start;
    height: 300px;
}

.align-content-end{
    align-content: flex-end;
    height: 300px;
}

.align-content-center{
    align-content: center;
    height: 300px;
}

.align-content-between{
    align-content: space-between;
    height: 300px;
}

.align-content-around{
    align-content: space-around;
    height: 300px;
}

.grow0{
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}

.grow1{
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
    flex-grow: 1;
}

.grow2{
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
    flex-grow: 2;
}

.grow3{
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
    flex-grow: 3;
}

.grow4{
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
    flex-grow: 4;
}

.flex-basis-auto{
    flex-basis: auto;
    flex-grow: 1;
}

.flex-basis-auto-grow-2{
    flex-basis: auto;
    flex-grow: 2;
}

.flex-basis-auto-width{
    width: 60px;
    flex-grow: 1;
}

.flex-basis-auto-grow-0{
    flex-grow: 0;
    flex-basis: auto;
}

.flex-basis-0{
    flex-basis: 0;
    flex-grow: 1;
}

.flex-basis-0-grow-2{
    flex-basis: 0;
    flex-grow: 2;
}

.flex-basis-0-width{
    width: 60px;
    flex-grow: 1;
    flex-basis: 0;
}

.flex-basis-0-grow-0{
    flex-grow: 0;
    flex-basis: 0;
}

.flex-basis-110{
    flex-basis: 110px;
    flex-grow: 0;
}

.flex-basis-300{
    flex-basis: 300px;
    flex-grow: 0;
}

.flex-basis-110-porcento{
    flex-basis: calc(25%-);
}