@charset "UTF-8";

body{
    font-family: monospace;
    color: #333;
    margin: 0px;
    padding-bottom: 60px;
}

body > div {
	padding: 40px 0;
}

body > div:nth-of-type(even) {
	background: rgba(0,0,0,.03);
}

.container{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
}

.item{
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}

.block{
    display: block;
}

.grid{
    display: grid;
}

.margin50px{
    margin: 50px;
}

header > h1{
    text-align: center;
}

.grid-template-columns{
    grid-template-columns: 200px 200px;
}

.grid-template-columns-1-2-1{
    grid-template-columns: 1fr 2fr 1fr;
}

.grid-template-columns-1-1-1{
    grid-template-columns: 1fr 1fr 1fr;
}

.subgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.subgrid > div{
    background-color: rgba(0,0,0,0.3);
}

.grid-template-columns-1{
    grid-template-columns: 100px 100px 100px 100px;
}

.grid-template-columns-2{
    grid-template-columns: 1fr 2fr;
}

.grid-template-columns-3{
    grid-template-columns: minmax(180px , 1fr) 1fr 1fr;
}

.grid-template-columns-4{
    grid-template-columns: repeat(3, 1fr);
}

.grid-template-columns-5{
    grid-template-columns: repeat(auto-fit, 100px);
}

.grid-template-columns-6{
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
}

.grid-template-columns-7{
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
}

.grid-columns{
    grid-template-columns: 1fr 1fr;
}

.grid-rows1{
    grid-template-rows: 50px 100px 50px 150px;
}

.grid-rows2{
    grid-template-rows: 100px 100px;
}

.grid-rows3{
    grid-template-rows: 1fr 2fr 1fr 3fr;
}

.grid-rows4{
    grid-template-columns: 100px auto 50px;
    grid-template-rows: 50px 200px auto;
}

.grid-template-areas-1{
    grid-template-areas: 
        "logo nav nav"
        "sidenav content advert"
        "sidenav footer footer";
}

.grid-template-areas-2{
    grid-template-areas: 
        "sidenav logo nav"
        "sidenav content content"
        "sidenav advert footer";
}

@media (max-width: 500px){
    .grid-template-areas-2{
        grid-template-areas: 
            "logo logo logo"
            "sidenav sidenav sidenav"
            "nav nav nav"
            "content content content"
            "advert footer footer";
    }
}

.grid-template-areas-3{
    grid-template-areas: 
        "logo logo"
        "nav nav"
        "content content"
        "sidenav advert"
        "footer footer";
}

.grid-template-areas-4{
    grid-template-columns: 100px auto 50px;
    grid-template-rows: 50px 250px 50px;
    grid-template-areas: 
        "logo nav nav"
        "sidenav content advert"
        "sidenav footer footer";
}

.grid-template-areas-5{
    grid-template-areas: 
        "logo     content  nav"
        "....     content  advert"
        "sidenav  footer   ......";
}

.grid-template-1{
    grid-template: 100px 50px / 100px 1fr 100px;
}

.grid-template-2{
    grid-template:
    "logo nav nav" 200px
    "sidenav content advert" 150px
    "sidenav footer footer" 50px
    / 100px 1fr 80px;
}

.gap-1{
    gap: 20px;
}

.gap-2{
    column-gap: 20px;
}

.gap-3{
    row-gap: 20px;
}

.grid-auto-columns-1{
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 50px;
}

.grid-auto-columns-2{
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 50px 100px;
}

.grid-auto-rows-1{
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 100px;
}

.grid-auto-rows-2{
    grid-template:
    "logo nav nav" 50px
    "sidenav content advert" 150px
    "sidenav footer footer" 100px
    / 100px 1fr 50px;
    grid-auto-rows: 50px 100px;
}

.grid-auto-flow-1{
    grid-auto-flow: column;
}

.grid-auto-flow-2{
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: 50px 50px 50px;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
}

.grid-auto-flow-3{
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
}

.grid-1{
    grid: 100px / 1fr 1fr 1fr;
}

.grid-2{
    grid: 100px / auto-flow 100px 50px;
    grid-auto-columns: 100px 50px;
    grid-auto-flow: column;
}

.grid-3{
    grid: 
    "logo nav nav" 50px
    "sidenav content advert" 150px
    "sidenav footer footer" 100px
    / 100px 1fr 50px;
}

.item-2{
    grid-column: span 3;
}

.item-4{
    grid-column: span 3;
}

.item-6{
    grid-column: 6;
}

.logo{
    grid-area: logo;
}

.content{
    grid-area: content;
}

.footer{
    grid-area: footer;
}

.sidenav{
    grid-area: sidenav;
}

.nav{
    grid-area: nav;
}

.advert{
    grid-area: advert;
}

.grid-justify{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 100px 100px 100px;
}

.justify-start{
    justify-content: start;
}

.justify-end{
    justify-content: end;
}

.justify-center{
    justify-content: center;
}

.justify-stretch{
    justify-content: stretch;
    grid-template-columns: auto;
}

.justify-space-around{
    justify-content: space-around;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-space-evenly{
    justify-content: space-evenly;
}

.grid-align{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 70px);
    height: 300px;
}

.align-content-start{
    align-content: start;
}

.align-content-end{
    align-content: end;
}

.align-content-center{
    align-content: center;
}

.align-content-space-around{
    align-content: space-around;
}

.align-content-space-between{
    align-content: space-between;
}

.align-content-space-evenly{
    align-content: space-evenly;
}

.grid-justify-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 50px);
}

.justify-items-start{
    justify-items: start;
}

.justify-items-end{
    justify-items: end;
}

.justify-items-center{
    justify-items: center;
}

.justify-items-stretch{
    justify-items: stretch;
}

.grid-align-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
}

.align-items-start{
    align-items: start;
}

.align-items-end{
    align-items: end;
}

.align-items-center{
    align-items: center;
}

.align-items-stretch{
    align-items: stretch;
}

.item-justify-2, .item-justify-3{
 grid-row: span 2;
}

.item-justify-5{
    grid-column: span 2;
}

.grid-column{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
}

.grid-column-1 .item-grid-item-1{
    grid-column: 3;
}

.grid-column-1 .item-grid-item-3{
    grid-column: 1;
}

.grid-column-2 .item-grid-item-3{
    grid-column: 1 / -1;
}

.grid-column-2 .item-grid-item-5{
    grid-column: span 2;
}

.grid-column-2 .item-grid-item-6{
    grid-column: 2 / span 2;
}

.grid-column-3 .item-grid-item-2{
    grid-column: 1 / 3;
}

.grid-column-3 .item-grid-item-4{
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-column-3 .item-grid-item-1{
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-column-4{
    grid-template-columns: [inicio] 1fr [meio] 1fr [final];
}

.grid-column-4 .item-grid-item-nomeado-2{
    grid-column: inicio / final ;
}

.grid-column-5{
    grid-template-areas:
        "header header header"
        "sidenav content ads"
        "sidenav footer footer";
}

.grid-column-5 .item-grid-areas-1{
    grid-column-start: header;
    grid-column-end: header;
}

.grid-column-5 .item-grid-areas-2{
    grid-column-start: sidenav;
    grid-column-end: sidenav;
    grid-row-start: sidenav;
    grid-row-end: sidenav;
}

.grid-column-5 .item-grid-areas-3{
    grid-column-start: content;
    grid-column-end: content;
}

.grid-column-5 .item-grid-areas-4{
    grid-column-start: ads;
    grid-column-end: ads;
}

.grid-column-5 .item-grid-areas-5{
    grid-column-start: footer;
    grid-column-end: footer;
}

.grid-column-6 .item-grid-column-1{
    grid-column: 1/-1;
}

.grid-column-6 .item-grid-column-2{
    grid-column: 1;
    grid-row: 2/4;
}

.grid-column-6 .item-grid-column-3{
    grid-column: 2/3;
}

.grid-column-6 .item-grid-column-4{
    grid-column: 3/4;
}

.grid-column-6 .item-grid-column-5{
    grid-column: 2/4;
}

.grid-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
}

.grid-row-1 .item-grid-row-1{
    grid-row: 3;
}

.grid-row-1 .item-grid-row-5{
    grid-row: 1;
}

.grid-row-2 .item-grid-row-1
{
    grid-row: 1 / 4;
}

.grid-row-2 .item-grid-row-5{
    grid-row: span 3;
}

.grid-row-2 .item-grid-row-6{
    grid-row: span 2;
}

.grid-row-3 .item-grid-row-2{
    grid-row: 1 / 3;
}

.grid-row-3 .item-grid-row-4{
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-row-3 .item-grid-row-1{
    grid-row-start: 2;
    grid-row-end: 4;
}

.grid-row-4{
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr;
}

.grid-row-4 .item-grid-row-2{
    grid-row: row1 / row3;
}

.grid-row-4 .item-grid-row-4{
    grid-row: row1 / 4;
}

.grid-row-5{
    grid-template-areas:
        "header header header"
        "sidenav content ads"
        "sidenav footer footer"
        ;
}

.grid-row-5 .item-grid-row-1{

    grid-column-start: header;
    grid-column-end: header;
    grid-row-start: header;
    grid-row-end: header;
}

.grid-row-5 .item-grid-row-2{
    grid-row-start: sidenav;
    grid-row-end: sidenav;
}

.grid-row-5 .item-grid-row-5{
    grid-column-start: footer;
    grid-column-end: footer;
}

.grid-3-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
}

.grid-area-1 .item-grid-area-1{
    grid-area: 1 / 2 / 4 / 3;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
}

.grid-area-1 .item-grid-area-5{
    grid-area: 2 / 3 / 4 / 4;
}

.grid-area-2{
    grid-template-areas:
    "header header header"
    "sidenav content ads"
    "sidenav footer footer";
}

.grid-area-2 .item-grid-area-1{
    grid-area: header;
}

.grid-area-2 .item-grid-area-2{
    grid-area: sidenav;
}

.grid-area-2 .item-grid-area-3{
    grid-area: content;
}


.grid-area-2 .item-grid-area-4{
    grid-area: ads;
}

.grid-area-2 .item-grid-area-5{
    grid-area: footer;
}

.grid-area-3{
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}


.grid-area-3 .item-grid-area-1{
    grid-row: 2 / 4;
    grid-column: 2 / 5;
    background: rgb(255 , 0 , 0 );
    mix-blend-mode: screen;
}

.grid-area-3 .item-grid-area-2{
    grid-area: 3/3/span 3/ span 2;
    background: rgb(0 , 255, 0);
    mix-blend-mode: screen;
}

.grid-area-3 .item-grid-area-12{
    grid-area: 1 / 4 / span 6/ span 2;
    background: rgb(0,0,255);
    mix-blend-mode: screen;
}

.grid-self{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 50px);
}

.grid-self .item-grid-justify-2, .item-grid-justify-3{
    grid-row: span 2;
}

.grid-self .item-grid-justify-5{
    grid-column: span 2;
}

.grid-self-1 .item-grid-justify-2,.grid-self-1 .item-grid-justify-5{
    justify-self: start;
}

.grid-self-2 .item-grid-justify-2,.grid-self-2 .item-grid-justify-5{
    justify-self: end;
}

.grid-self-3 .item-grid-justify-2,.grid-self-3 .item-grid-justify-5{
    justify-self: center;
}

.grid-self-4{
    justify-items: start;
}

.grid-self-4 .item-grid-justify-2, .grid-self-4 .item-grid-justify-5{
    justify-self: stretch;
}

.grid-align-self{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 50px);
}

.grid-align-self .item-grid-align-2, .grid-align-self .item-grid-align-3{
    grid-row: span 2;
}

.grid-align-self .item-grid-align-5{
    grid-column: span 2;
}

.grid-align-self-1 .item-grid-align-2,.grid-align-self-1 .item-grid-align-5 {
    align-self: start;
}

.grid-align-self-2 .item-grid-align-2,.grid-align-self-2 .item-grid-align-5 {
    align-self: end;
}

.grid-align-self-3 .item-grid-align-2,.grid-align-self-3 .item-grid-align-5 {
    align-self: center;
}

.grid-align-self-4{
    align-items: start;
}
.grid-align-self-4 .item-grid-align-2,.grid-align-self-4 .item-grid-align-5 {
    align-self: stretch;
}