@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* 
    Medidas Absolutas
    cm, mm, in, px, pt, pc
    
    Medidas Relativas
    em, ex, rem, vw, vh, % 
    */
}

body{
    background-image: linear-gradient(to bottom, #2b50aa, #ff858d);
    background-attachment: fixed;
}

main{
    background-color: #daf7dc;
    max-width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #9ee493d9;
    margin-top: 10px;
    margin-bottom:10px;
    padding: 1px;
}

h1{
    text-align: center;
    color: #fff;
    font-size: 2em;
}

h2{
    text-align: center;
    color: #2b50aa;
    font-size: 1.5em;
}

h3{
    color: #2b50aa;
    text-indent: 20px;
    margin-left: 10px;
    font-size: 1.2em;
}

p{
    text-indent: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

dl{
    margin-left: 10px;
    margin-right: 10px;
    text-indent: 10px;
}

figure {
    background-color: #9ee493;
    border: thin #c0c0c0 solid;
    flex-flow: column;
    padding: 5px;
    max-width: 60%;
    margin: auto;
    border-radius: 10px;
}

.tam90{
    max-width: 90%;
}

img{
    align-content: center;
    margin-bottom: 0px;
    border-radius: 10px;
    max-width: 100%;
}

figcaption {
    background-color: #daf7dc;
    border-radius: 10px;
    color: #000000;
    font: arial;
    padding: 0px;
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.times{
    font-family: 'Times New Roman', Times, serif;
}

.mono{
    font-family: 'Courier New', Courier, monospace;
}

a{
    color:#2b7a1f;
    text-decoration: none;
}

a:visited{
    color: #ff858d;
    text-decoration: none;
}

code{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
}