@charset "UTF-8";

@font-face {
    font-family: 'Alice' ;
    src: url(../../../../Fontes\ Baixadas/Alice_in_Wonderland_3.ttf) format('truetype');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../../../Módulo\ 2/Capítulo\ 17\ -\ Primeiro\ mini-projeto/fontes/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Sriracha';
    src: url(../../../../Fontes\ Baixadas/Sriracha-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face{
    font-family: 'Passion One';
    src: url(../../../../Fontes\ Baixadas/PassionOne-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face{
    font-family: 'Passion One';
    src: url(../../../../Fontes\ Baixadas/PassionOne-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face{
    font-family: 'Passion One';
    src: url(../../../../Fontes\ Baixadas/PassionOne-Black.ttf) format('truetype');
    font-weight: 900;
}

:root{
    --cor0: #454ADE;
    --cor1: #6CCFF6;
    --cor2: #FBDCE2;
    --cor3: #C874D9;
    --cor4: #2C0735;
    --cor5: #fff;
    --cor6: #000;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', 'cursive';
    --fonte2: 'Alice', sans-serif;
    --fonte3: 'Passion One', cursive;
    --fonte4: 'Sriracha', cursive;
}

*{
    font: normal normal 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-image: linear-gradient(to top, var(--cor1), var(--cor3));
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

main{
    position:relative;
    height: 100vh;
    width: 100vw;
}

main > section#login{
    background-color: var(--cor5);
    display: block;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    margin: auto;
    max-width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000a;
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

main > section#login > div#imagem{
    display: block;
    background-image: url(../imagens/predio.jpg);
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}

section#login > div#formulario{
    display: block;
}

div.caixa{
    display: block;
    width: fit-content;
    margin: auto;    
    margin-top: 10px;
}

input#entrar, input#EsqueciSenha{
    display: block;
    margin: auto;
    margin-top: 10px;
}