@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte0);
}

:root{
    --cor0: #122AB2;
    --cor1: #2C70FF;
    --cor2: #fff;
    --cor3: #000;
    --cor4: #a4a4a4;
    --cor5: #f7f7f7;
    --purple: #AE81FF;
    --pink: #F9265E;
    --blue: #66D9EB;
    --fonte0: 'Nunito' , Helvetica, Arial, sans-serif;
    --fonte1:  Arial , Helvetica , sans-serif;
}

section{
    max-width: 960px;
    margin: auto;
}

/* Super-info */
.superinfo-bg{
    background-color: var(--cor0);
    color: var(--cor2);
}

.superinfo a{
    color: var(--cor2);
    text-decoration: none;
}

.superinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
}

/* menu */
.menu-bg{
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--cor1);
    padding: 10px 0px;
}

header > .menu{
    background-color: var(--cor1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
}

.menu a{
    color: var(--cor2);
    text-decoration: none;
}

.menu-logo{
    flex: 1 1 300px;
}

.menu-logo a{
    margin: 0px 10px;
    padding: 0px 10px;
    margin-left: 10px;
    font-size: 2.25em;
    font-weight: bold;
}

nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 300px;
}

.menu > nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
}

.menu > nav > ul > li{
    align-self: center;
    color: var(--cor2);
    font-size: 1.25em;
}

.menu > nav > ul > li > a{
    background-color: var(--cor1);
    padding: 5px;
    border-radius: 5px;
    transition-duration: 500ms;
}

.menu > nav > ul > li > a:hover{
    color: var(--cor0);
    background-color: var(--cor2);
    transition-duration: 500ms;
}

/* introdução */
section > h1.introdução{
    font-size: 3em;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1;
}

/* Sobre */
.sobre{
    padding-top: 20px;
    border-top: 2px solid var(--cor1);
    display: flex;
    max-width: 960px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.sobre-info{
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-foto{
    flex: 1 1 160px;
    margin: 0 10px;
}

img{
    display: block;
    max-width: 100%;
}

.sobre-info > h1{
    font-size: 3em;
    text-indent: 10px;
    margin-bottom: .5em;
}

.sobre-info > p{
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 1em;
    color: var(--cor4);
    padding: 10px;
}

/* produtos */
.produtos{
    border-top: 2px solid var(--cor1);
    max-width: 960px;
    margin: 60px auto;
}

.produtos > h1{
    padding: 40px 10px;
    font-size: 3em;
}

.produtos-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item{
    margin: 10px;
    background-color: var(--cor5);
    color: var(--cor4);
    flex: 1 1 175px;
}

.produtos-item > h2{
    padding: 50px 0px;
    font-size: 3em;
    font-weight: 700;
    padding-left: 20px;
}

.purple{
    border-top: 8px solid var(--purple);
}

.pink{
    border-top: 8px solid var(--pink);
}

.blue{
    border-top: 8px solid var(--blue);
}

/* preços */
.preço{
    background-color: var(--cor5);
    padding-top: 10px;
}

.preço > h1{
    margin: 10px;
    text-indent: 20px;
    font-size: 2.5em;
}

.preço-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    align-items: flex-end;
}

.preço-item{
    border-style: solid;
    border-color: var(--cor2);
    flex: 1 1 260px;
    padding: 20px;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.preço-item > h2 {
    color: var(--cor4);
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.preço-item > span {
    color: var(--cor3);
    max-width: 300px;
    display: block;
    font-size: 3em;
    font-weight: bolder;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
}

.preço-item > span > sup{
    font-weight: bold;
}

.preço-item > ul{
    text-align: left;
    flex: 0 1 175px;
}

.preço-item > ul > li{
    color: var(--cor4);
    font-size: 1.2em;
    line-height: 40px;
    justify-content: space-between;
}

.preço-item > ul > li ::after{
    list-style-type: disc;
    color: var(--cor0);
}

ul{
    list-style: none;
}

/* qualidades */
.qualidade{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.qualidade-item{
    padding: 10px;
    flex: 1 1 260px;
    font-size: 1.2em;
}
div.qualidade-item > h1 {
    text-indent: 10px;
}

.inteligente{
    border-left: solid 10px #AE81FF;
}

.compacto{
    border-left: solid 10px #F9265E;
}

.economico{
    border-left: solid 10px #66D9EB;
}

.transparente{
    border-left: solid 10px #AE81FF;
}

.opaco{
    border-left: solid 10px #F9265E;
}

.sustentavel{
    border-left: solid 10px #66D9EB;
}

/* newsletter */
.newsletter{

}