@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte0);
}

:root{
    --cor0: #122AB2;
    --cor1: #2C70FF;
    --cor2: #fff;
    --cor3: #000;
    --cor4: #a4a4a4;
    --cor5: #f7f7f7;
    --purple: #AE81FF;
    --pink: #F9265E;
    --blue: #66D9EB;
    --fonte0: 'Nunito' , sans-serif;
    --fonte1:  Arial , Helvetica , sans-serif;
}

.superinfo-bg{
    background-color: var(--cor0);
    color: var(--cor2);
}

.superinfo a{
    color: var(--cor2);
    text-decoration: none;
}

.superinfo{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

header{
    display: block;
    position: sticky;
    top: 0;
}

header > .menu{
    background-color: var(--cor1);
    display: flex;
    justify-content: space-between;
}

.menu a{
    color: var(--cor2);
    text-decoration: none;
}

.menu-logo a{
    display: flex;
    padding: 10px 0px;
    padding-left: 10px;
    font-size: 2em;
    font-weight: 700;
}

nav{
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 50vw;
    flex-grow: 1;
}

li{
    display: flex;
    align-self: center;
    color: var(--cor2);
}

li a{
    background-color: var(--cor1);
    padding: 5px;
    border-radius: 5px;
    transition-duration: 500ms;
}

li a:hover{
    color: var(--cor0);
    background-color: var(--cor2);
    transition-duration: 500ms;
}

section > h1.introdução{
    font-size: 2.5em;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sobre{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 2px solid var(--cor1);
}

.sobre-info{
    max-width: 50vw;
    padding: 10px;
}

.sobre-foto{
    padding: 10px;
}

.sobre-info > p{
    font-weight: 300;
    font-size: 1.3em;
    color: var(--cor4);
    padding: 10px;
}

.produtos{
    border-top: 2px solid var(--cor1);
}

.produtos h1{
    padding: 40px 10px;
    font-size: 3em;
}

.produtos-container{
    display: flex;
    justify-content: space-around;
}

.produtos-item > img{
    width: 30vw;
}

.produtos-item{
    background-color: var(--cor5);
    color: var(--cor4);
    align-self: flex-end;
}

.produtos-item > h2{
    padding: 50px 0px;
    font-size: 3em;
    font-weight: 700;
    padding-left: 20px;
}

.purple{
    border-top: 8px solid var(--purple);
}

.pink{
    border-top: 8px solid var(--pink);
}

.blue{
    border-top: 8px solid var(--blue);
}