body{
    margin: 0px;
    height: 100vh;

    /*atributos de background*/

    /*background-color: #000;
    background-image: url(../imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/

    /*Shorthand - a ordem da shorthand é color > image > position > repeat > [size **atualmente não está funcionando] > attachment*/
    background: black url('../imagens/wallpaper002.jpg') center center no-repeat fixed;
    background-size: cover; 
}

main{
    padding: 10px;
    border: 1px solid darkblue;
    border-radius: 15px;
    background-color: #FFF;
    max-width: 500px;
    margin: auto;
    min-width: 320px;
}