@charset "UTF-8";

@font-face {
    font-family: 'Alice' ;
    src: url(../../../../Fontes\ Baixadas/Alice_in_Wonderland_3.ttf) format('truetype');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../../../Módulo\ 2/Capítulo\ 17\ -\ Primeiro\ mini-projeto/fontes/BebasNeue-Regular.ttf) format('truetype');
}

:root{
    --cor0: #3B4C6E;
    --cor1: #80a4ed;
    --cor2: #bcd3f2;
    --cor3: #C7DFFF;
    --cor4: #6f5e76;
    --cor5: #17301c;
    --cor6: #5da271;
    --cor7: #6ABA81;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', 'cursive';
    --fonte2: 'Alice', sans-serif;
}

*{
    font: normal normal 16px var(--fonte0);
    margin: 0px;
    padding: 0px;
}
/* body */
body{
    background-color: var(--cor0);
}

/* header */
header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3)) ;
    height: 120px;
}

header h1{
    padding-top: 35px;
    padding-bottom: 35px;
    font: normal normal 50px var(--fonte2);
    text-align: center;
}

/* nav */
nav{
    background-color: var(--cor3);
    position: sticky;
    top: 0;
}

nav div{
    padding:20px;
    margin: auto;
    display: block;
    width: fit-content;
}

nav div a{
    background-color: var(--cor3);
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--cor1);
    padding: 5px;
    border-radius: 5px;
    transition-duration: 500ms;
    color: #000;
    text-decoration: none;
    font: normal normal 1.2em var(--fonte0);
    margin: 1px;
}

nav div a:hover{
    background-color: var(--cor1);
    outline-color: var(--cor1);
    transition-duration: 500ms;
}

/* main */
main{
    margin: auto;
    max-width: 860px;
    min-width: 320px;
    border-radius: 5px 20px;
    background-color: var(--cor3);
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px #000;
    padding: 20px;
}

main article{
    background-color: var(--cor2);
    margin: auto;
    padding: 10px;
    border-radius: 5px 20px;
    outline-color: var(--cor1);
    outline-style: solid;
    outline-width: 1px;
}

main article h1{
    font: normal normal 2em var(--fonte1);
    color:#000;
    background-image: linear-gradient(to right, var(--cor0), var(--cor2));
    padding: 5px;
    border-radius: 5px 20px;
}

main article p{
    
}

/* footer */
footer{

}

footer h1{

}

div#color{
    width: 90%;
    height: 300px;
    margin: auto;
    background-color: var(--cor4);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

div#image{
    width: 90%;
    height: 300px;
    margin: auto;
    background-image: linear-gradient(to right, var(--cor0), var(--cor4));
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

div#url{
    width: 90%;
    height: 300px;
    margin: auto;
    background-image: url(../imagens/pattern001.png);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}