@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../Imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(../Imagens/frame-iphone.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 457px;
    width: 226px;
    }

iframe#tela{
    position: relative;
    top: 58px;
    left: 16px;
    width: 195px;
    height: 344px;
    border-radius: 2px;
}
img{
    border-radius: 50%;
    width: 60px;
    box-shadow: 5px 5px 10px #000000cc;
    box-sizing: border-box;
    border: 0px solid white;
    transition-duration: 200ms;
}

#redes-sociais{
    text-align: right;
    margin-right: 10px;
    padding-top: 10px;
    line-height: 40px;
}

section#redes-sociais>a{
    display: block;
}

section#redes-sociais img:hover{
    border: 2px solid white;
    text-align: right;
    transition-duration: 100ms;
    transform: translate(-3px, -3px);
    box-shadow: 10px 10px 15px #000000cc;
}