@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(105, 56, 10);
    background-image: url(../Imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img#smartphone{
    transform:translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80vh;
    width: ;
}
img#tela{
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 61vh;
}